# Configurations
title: CSM-Wiki
description: Wiki website for Communicable State Machine(CSM) Framework and its applications.
author: NEVSTOP-LAB
email: liyao.zheda@foxmail.com

url: 'https://nevstop-lab.github.io/'
baseurl: '/CSM-Wiki'

# Just the Docs theme configuration
theme: just-the-docs

# Color scheme supports "light" or "dark"
color_scheme: light

# Enable or disable the site search
search_enabled: true
search:
  heading_level: 2
  previews: 3
  preview_words_before: 5
  preview_words_after: 10
  tokenizer_separator: /[\s/]+/
  rel_url: true
  button: false

# Enable or disable heading anchors
heading_anchors: true

# Aux links for the upper right navigation
aux_links:
  "CSM on GitHub":
    - "https://github.com/NEVSTOP-LAB/Communicable-State-Machine"

# Makes Aux links open in a new tab
aux_links_new_tab: true

# Footer content
footer_content: "Copyright &copy; 2024 NEVSTOP-LAB. Distributed under the <a href=\"https://github.com/NEVSTOP-LAB/Communicable-State-Machine/blob/main/LICENSE\">Apache 2.0 License</a>."

# Footer last edit timestamp
last_edit_timestamp: true
last_edit_time_format: "%b %e %Y at %I:%M %p"

# Back to top link
back_to_top: true
back_to_top_text: "Back to top"

# Enable in-page table of contents
# Just the Docs uses Kramdown's {:toc} method for in-page TOC
# Individual pages can override this with front matter (has_toc: false)
# To use TOC in a page, add the following markdown after a list item:
#   1. TOC
#   {:toc}
defaults:
  - scope:
      path: ""
    values:
      has_toc: true

# Markdown render engine
markdown: kramdown
kramdown:
  auto_ids: true
  input: GFM
  math_engine: mathjax
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  toc_levels: 1..6
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    guess_lang: true

markdown_ext: markdown,mkdown,mkdn,mkd,md

# Permalinks
permalink: /:categories/:year-:month-:day-:title:output_ext

exclude:
  - _drafts
  - "*.backup"
  - "*.bak"
  - "**/_internal"
  - "_internal"
  - "**/_origin"
  - "_origin"
  - "**/_drafts"
  - "**/_design"
  - .ref
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

collections:
  pages:
    output: true
    permalink: /:collection/:path/

destination: ./_site
incremental: false
regenerate: true

plugins:
  - jekyll-feed
  - jekyll-readme-index
  - jemoji

# Mermaid diagram support
mermaid:
  # Version of mermaid library
  # Pick an available version from https://cdn.jsdelivr.net/npm/mermaid/
  version: "10.9.1"

# Callouts configuration
# Define callout types for use in markdown with {:  .callout-type }
callouts:
  note:
    title: 注意
    color: blue
  tip:
    title: 提示
    color: green
  warning:
    title: 警告
    color: yellow
  important:
    title: 重要
    color: purple