{% assign lang2 = site.active_lang %}
{% assign ChooseLanguage = site.data[lang2].l10n.ChooseLanguage %}
{{ ChooseLanguage }}: <a href="/CSM-Wiki{{ page.url }}">中文</a> | <a href="/CSM-Wiki/en{{ page.url }}">English</a>

<!-- ------------- -->

<!-- {% assign ChooseLanguage = site.data[site.active_lang].l10n.ChooseLanguage %}

{% assign PageHTMLFileName = page.url | split: '/' | last %}
{% assign zhPageURL = "/CSM-Wiki/"PageHTMLFileName | replace: "/en", "/" %}
{% assign enPageURL = "/CSM-Wiki/en/"PageHTMLFileName %}

{{ ChooseLanguage }}: |
{% for lang in site.languages %}
    {% assign lang_name = site.data[lang].l10n.lang_name %}
    {% if lang == site.active_lang %}
        {{ lang_name }} |
    {% else %}
        {% if lang == site.default_lang %}
            <a href="{{ zhPageURL }}"> {{ lang_name }} </a> |
        {% else %}
            <a href="{{ enPageURL }}"> {{ lang_name }} </a> |
        {% endif %}
    {% endif %}
{% endfor %} -->

<!--
    <a href="{{ PageHTMLFileName }}">PageHTMLFileName</a>
    <a href="{{ enPageURL }}">enPageURL</a>
    <a href="{{ zhPageURL }}">zhPageURL</a>
    <a href="{{ site.baseurl }}">site.baseurl</a>
    <a href="{{ page.url }}">page.url</a>
    <a href="{{ page.url | split: '/' | last }}">page.url | split: '/' | last</a>
-->