{% assign lang = site.active_lang %}
{% assign ChooseLanguage = site.data[lang].l10n.ChooseLanguage %}
{{ ChooseLanguage }}: <a href="{{ page.url }}">English</a> | <a href="{{ lang }}{{ page.url }}">中文</a>

<!-- {% for lang in site.languages %}
    {% assign lang_name = site.data[lang].l10n.lang_name %}
    {% if lang == site.active_lang %}
        {{ lang_name }}
    {% else %}
        {% if lang == site.default_lang %}
            <a href="{{ site.baseurl }}{{ page.url }}">{{ lang_name }}</a>
        {% else %}
            <a href="{{ site.baseurl }}{{ lang }}{{ page.url }}">{{ lang_name }}</a>
        {% endif %}
    {% endif %}
{% endfor %} -->