<!-- {% assign lang = site.active_lang %}
{% assign ChooseLanguage = site.data[lang].l10n.ChooseLanguage %}
{{ ChooseLanguage }}: <a href="{{ page.url }}">English</a> | <a href="zh/{{ page.url }}">中文</a> -->


{% assign ChooseLanguage = site.data[site.active_lang].l10n.ChooseLanguage %}
{{ ChooseLanguage }}: |
{% for lang in site.languages %}
    {% assign lang_name = site.data[lang].l10n.lang_name %}
    {% if lang == site.active_lang %}
        {{ lang_name }} |
    {% else %}
        {% if lang == 'zh' %}
            <a href="{{ site.baseurl }}/{{ page.url | split: '/' | last }}"> {{ lang_name }}</a> |
        {% else %}
            <a href="{{ site.baseurl }}/{{ lang }}/{{ page.url | split: '/' | last }}"> {{ lang_name }}</a> |
        {% endif %}
    {% endif %}
{% endfor %}

<!--
    <a href="{{ site.baseurl }}">site.baseurl</a>
    <a href="{{ page.url }}">page.url</a>
    <a href="{{ page.url | split: '/' | last }}">page.url.last</a>
-->