---
layout: table_wrappers
---

<div class="page-wrapper">
  <div class="main-content-container">
    {% if site.heading_anchors != false %}
      {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
    {% else %}
      {{ content }}
    {% endif %}

    {% if page.has_children == true and page.has_toc != false %}
      <hr>
      <h2 class="text-delta">Table of contents</h2>
      <ul>
        {% assign children_list = pages_list | where: "parent", page.title | where: "grand_parent", page.parent %}
        {% for child in children_list %}
          <li>
            <a href="{{ child.url | relative_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <!-- Right-side floating TOC -->
  <div class="page-toc-container">
    {% include toc.html %}
  </div>
</div>
